
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>LOGIN</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form #form="ngForm" style="display: flex; flex-direction: column;">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text" #emailUI="ngModel" required ngModel name="email">
      </mat-form-field>

      <div *ngIf="emailUI.invalid && (emailUI.touched || emailUI.dirty)" class="alert alert-danger">
        <div *ngIf="emailUI.errors.required">
          NAME IS REQUIRED
        </div>
      </div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" #passwordUI="ngModel" required name="password" ngModel>
      </mat-form-field>

      <div *ngIf="passwordUI.invalid && (passwordUI.touched || passwordUI.dirty)" class="alert alert-danger">
        <div *ngIf="passwordUI.errors.required">
          PASSWORD IS REQUIRED
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="form.invalid" (click)="onLogin(form)">Log in</button>
  </mat-card-actions>
</mat-card>

