<p>pedidosya works!</p>


<mat-drawer-container class="example-container" style="width: 100%; height: 600px">
  <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 300px; height: 100%;" [position]="'end'">
    <div style="display : flex; flex-direction: column;">
      <h4><span class="badge badge-success">Crear platos & editar platos</span></h4>

      <form [formGroup]="plateForm">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" type="text">
        </mat-form-field>

        <div *ngIf="plateForm.get('name').invalid && (plateForm.get('name').touched || plateForm.get('name').dirty)" class="alert alert-danger">

          <div *ngIf="plateForm.get('name').errors.required">
            NAME IS REQUIRED
          </div>

          <div *ngIf="plateForm.get('name').errors.minlength">
            NAME MUST HAVE 3 CHARACTERS MIN
          </div>

        </div>

        <mat-form-field>
          <mat-label>Price</mat-label>
          <input matInput formControlName="price" type="text">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Stock</mat-label>
          <input matInput formControlName="stock" type="text">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Type</mat-label>
          <input matInput formControlName="type" type="text">
        </mat-form-field>

        <div *ngIf="plateForm.get('type').invalid && (plateForm.get('type').touched || plateForm.get('type').dirty)" class="alert alert-danger">

          <div *ngIf="plateForm.get('type').errors.required">
            THIS FIELD MUST BE FILLED
          </div>

        </div>


        <mat-form-field>
          <mat-label>UrlImage</mat-label>
          <input matInput formControlName="urlImage" type="text">
        </mat-form-field>



      </form>
    </div>


    <button (click)="onCreatePlate(); refresh();">CREATE</button>
    <button (click)="onUpdatePlate()">UPDATE</button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" style="background: orange" mat-button (click)="drawer.toggle();">
      Create plate
    </button>
  </div>


  <h1>NACIONAL</h1>
  <div class="row">
    <div *ngFor="let plate of nacional" class="row col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3" style="padding: 50px; display: flex; justify-content: center;">
      <mat-card class="example-card" [ngStyle]="{'background': plate.stock==0 ? 'red' : 'orange'}">
        <mat-card-header>
        <mat-card-title>{{plate.name | uppercase}}</mat-card-title>
        <mat-card-subtitle>Precio: {{plate.price}} {{plate.type | test}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="plate.urlImage" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Stock: {{plate.stock}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="onEdit(plate); drawer.toggle()">EDIT</button>
          <button mat-button (click)="onDelete(plate.id)">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <h1>INTERNACIONAL</h1>
  <div class="row">
    <div *ngFor="let plate of internacional" class="row col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3" style="padding: 50px; display: flex; justify-content: center;">
      <mat-card class="example-card" [ngStyle]="{'background': plate.stock==0 ? 'red' : 'orange'}">
        <mat-card-header>
        <mat-card-title>{{plate.name | uppercase}}</mat-card-title>
        <mat-card-subtitle>Precio: {{plate.price}} {{plate.type | test}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="plate.urlImage" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Stock: {{plate.stock}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="onEdit(plate); drawer.toggle()">EDIT</button>
          <button mat-button (click)="onDelete(plate.id)">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>


</mat-drawer-container>




