<p>cardplate works!</p>
<app-sidenavplate></app-sidenavplate>
<div style="background: blue; font-size: 25px;">
  <p>Total Stock: {{stockTotal()}}</p>
  <p>Total nacional: {{nationalTotal()}}</p>
  <p>Total nacional: {{internationalTotal()}}</p>
</div>
<h1>NACIONAL</h1>
  <div class="row">
    <div *ngFor="let plate of nacional" class="row col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3" style="padding: 50px; display: flex; justify-content: center;">
      <mat-card class="example-card" [ngStyle]="{'background': plate.stock==0 ? 'red' : 'orange'}">
        <mat-card-header>
        <mat-card-title>Name: {{plate.name | uppercase}}</mat-card-title>
        <mat-card-subtitle>Price: {{plate.price}} {{plate.type | money}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="plate.urlImage" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Stock: {{plate.stock}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button style="background-color: green;" (click)="onEdit(plate);">EDIT</button>
          <button mat-button style="background-color: green;" (click)="onDelete(plate.id)">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <h1>INTERNACIONAL</h1>
  <div class="row">
    <div *ngFor="let plate of internacional" class="row col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3" style="padding: 50px; display: flex; justify-content: center;">
      <mat-card class="example-card" [ngStyle]="{'background': plate.stock==0 ? 'red' : 'orange'}">
        <mat-card-header>
        <mat-card-title>{{plate.name | uppercase}}</mat-card-title>
        <mat-card-subtitle>Precio: {{plate.price}} {{plate.type | money}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="plate.urlImage" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Stock: {{plate.stock}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button style="background-color: green;" (click)="onEdit(plate);">EDIT</button>
          <button mat-button style="background-color: green;" (click)="onDelete(plate.id)">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
