<p>login works!</p>


<button type="button"  style="border: 4px solid orange" class="btn btn-outline-warning"
routerLink="/pages">LOGIN</button>

<br>
<br>
<!--
<div *ngIf="1 === 1">
  HOLA
</div>
<ng-template [ngIf]="1 === 1">
  HOLA
</ng-template>
-->
<!--
<ng-container *ngFor="let item of [1,2,3,4]">
  <p>item container</p>
</ng-container>

<div *ngFor="let item of [1,2,3,4]">
  <p>item div</p>
</div>

<app-test>
  <button>hola</button>
</app-test>-->
<button (click)="sw=!sw">Switch</button>
<p>{{sw}}</p>
<p *ngElse ="sw">SE MUESTRA SI ES FALSO</p>
